.blog{
    color: black;
    background-color: aqua;
    font-size: 20px;
    border: 5px solid red;
    border-radius: 5px;
    padding: 20px;
    margin: 30px 40px 50px 60px

}
.second{
    display: none;
}
header{
    background-image: url('../images/f2.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    /* background-width: 500px; */
    color: white;
    height: 300px;

}