.blog{
    color: black;
    background-color: aqua;
    font-size: 20px;
    border: 5px solid red;
    border-radius: 5px;
    padding: 20px;
    margin: 30px 40px 50px 60px

}
.second{
    display: none;
}